* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  /* background-image: url(images/hero-image.webp);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply; */
  font-weight: bolder;
}
.form-container form {
  display: grid;
  grid-template-columns: 300px;
  gap: 30px;
}

input[type="food"] {
  border: 2px solid red;
  appearance: none;
  outline: none;
}

h1 {
  font-size: 28px;
  font-weight: 900;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 2px 2px 2px black;
}

.form-container {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 40px black;
  border-radius: 20px;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#agree {
  border: none;
  box-shadow: none;
}

.send button {
  border: 2px solid white;
  width: 140px;
  font-weight: bolder;
  padding: 15px;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 50px;
  background-color: rgb(8, 94, 165);
  color: white;
}

.send button:hover {
  box-shadow: 2px 0px 30px black;
  cursor: pointer;
  transition: ease-in-out 3s;
  color: rgb(8, 94, 165);
  border: 2px solid rgb(8, 94, 165);
  background-color: white;
  transform: rotate(10deg) scale(1.1);
}

#petSelect {
  color: black;
}

.agree {
  display: flex;
}

@media (min-width: 900px) {
  .form-container {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 40px black;
    border-radius: 20px;
    width: 50%;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
  }
}
